@import "../../css/_module-imports";
section.u4m-cta-row {
  @include tabletvertmin {
    padding: 132rem 0;
  }
  &.reverse-text {
    color: $white;
  }
  .bg_overlay.bg_image {
    background-size: 804px 406px !important;
    background-position: bottom center !important;
  }
  .flex_row {
    gap: 30px;
    justify-content: space-between;
    row-gap: 50px;
    .intro_content {
      margin-bottom: 0;
      &.two_col {
        width: calc(50% - 15px);
        max-width: 535px;
        text-align: left;
        @include tabletvert {
          width: 100%;
          max-width: 100%;
        }
        .eyebrow_text {
          margin-bottom: 2rem;
        }
        .intro_title {
          margin-bottom: 22rem;
        }
        .intro_btn_wrap {
          justify-content: flex-start;
        }
      }
    }
  }
}
