<div class="megaMenu">
	<div class="menu-wrapper">
		<ul>
			{% for item in module.mega_menu %}
			<li class="menuItem {% if item.enable_child_menu %}has-submenu{% endif %}">
				{% set href = item.menu_link.url.href %}
				{% if item.menu_link.url.type is equalto "EMAIL_ADDRESS" %}
				{% set href = "mailto:" + href %}
				{% endif %}
				<a
					 {% if item.menu_link.url.type is equalto "CALL_TO_ACTION"  %}
					 href="{{ href }}"
					 {% else %}
					 href="{{ href|escape_url }}"
					 {% endif %}
					 {% if item.menu_link.open_in_new_tab %}
					 target="_blank"
					 {% endif %}
					 {% if item.menu_link.rel %}
					 rel="{{ item.menu_link.rel|escape_attr }}"
					 {% endif %}
					 >{{ item.menu_text }} {% if item.enable_child_menu %}<span><svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0.862061 1.16358C0.64624 1.38169 0.64624 1.73533 0.862061 1.95342L3.80944 4.93216C4.02526 5.15027 4.37511 5.15027 4.59094 4.93216L7.53833 1.95342C7.75415 1.73533 7.75415 1.38169 7.53833 1.16358C7.32252 0.945472 6.97261 0.945472 6.75679 1.16358L4.20019 3.74736L1.64356 1.16358C1.42774 0.945472 1.07788 0.945472 0.862061 1.16358Z" fill="#00161D" stroke="#00161D"/>
					</svg></span>{% endif %}</a>
				{% if item.enable_child_menu %}
				<div class="child_menu_group">
					<div class="child-menu-row">
						{% if item.child_menu.content %}
						<div class="menu_content">
							{{ item.child_menu.content }}
						</div>
						{% endif %}
						<div class="child_menu_level1">
							<ul class="level1_wrap">
								{% for item2 in item.child_menu.menu_group %}
								<li class="child_menu_title">
									<span class="title">
										{{ item2.menu_title }}
									</span>
									<ul class="level2_wrap">
										{% for item3 in item2.menu_item %}
										{% if item3.menu_text %}
										<li class="child_menu_item">
											{% set href = item3.menu_link.url.href %}
											{% if item3.menu_link.url.type is equalto "EMAIL_ADDRESS" %}
											{% set href = "mailto:" + href %}
											{% endif %}
											<a
												 {% if item3.menu_link.url.type is equalto "CALL_TO_ACTION"  %}
												 href="{{ href }}"
												 {% else %}
												 href="{{ href|escape_url }}"
												 {% endif %}
												 {% if item3.menu_link.open_in_new_tab %}
												 target="_blank"
												 {% endif %}
												 {% if item3.menu_link.rel %}
												 rel="{{ item3.menu_link.rel|escape_attr }}"
												 {% endif %}
												 >
												{{ item3.menu_text }} <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10 4.99997C10 4.89377 9.94858 4.76094 9.84574 4.6813L5.47557 0.139473C5.2956 -0.0464909 5.01286 -0.0464909 4.83289 0.139473C4.65298 0.351936 4.65298 0.644099 4.83289 0.829996L8.40618 4.52191H0.462714C0.205679 4.52191 0 4.73437 0 4.99997C0 5.26563 0.205679 5.47809 0.462714 5.47809H8.40618L4.83289 9.19657C4.65298 9.38247 4.65298 9.67463 4.83289 9.86053C5.01286 10.0465 5.2956 10.0465 5.47557 9.86053L9.84574 5.34526C9.94858 5.26563 10 5.1328 10 4.99997Z" fill="#00819E"/>
												</svg>
											</a>
										</li>
										{% endif %}
										{% endfor %}
									</ul>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

