@import "../../css/_module-imports";

section.u4m-filtered-content {
  position: relative;
  .hs-search-field {
    position: relative;
  }
  .hs-search-field__input {
    box-sizing: border-box;
    width: 100%;
  }
  .hs-search-field__bar {
    button {
      svg {
        height: 10px;
      }
    }
  }
  .hs-search-field__suggestions {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin: 0;
      padding: 0;
    }
    #results-for {
      font-weight: bold;
      display: block;
      color: $black;
    }
    a {
      display: block;
      color: $black;
      &:hover {
        background-color: rgba($darkblack, 0.1);
        outline: none;
      }
      &:focus {
        background-color: rgba($darkblack, 0.1);
        outline: none;
      }
    }
  }
  .hs-search-field--open {
    .hs-search-field__suggestions {
      border: 1px solid $silver;
      padding: 15px;
    }
  }
  .blog-banner {
    position: relative;
    padding-top: 120px;
    .page-title {
      text-align: center;
      h1 {
        margin-bottom: 60px;
        text-transform: capitalize;
      }
    }
    .featured-post-wrap {
      background: $white;
      margin: 0 auto;
      max-width: 780px;
      padding: 24px;
      position: relative;
      border: 2px solid $azure;
      border-radius: 8px;
      top: 140px;
      margin-top: -140px;
    }
    .featured-post {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px;
    }
    .featured-post.no-img {
      .featured-content-col {
        width: 100%;
      }
    }
    .featured-img-col {
      width: 50%;
      padding: 0 12px;
      a {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
    .featured-content-col {
      width: 50%;
      padding: 12px 12px;
      h4 {
        margin-bottom: 14px;
        color: $black;
        a {
          color: inherit;
        }
      }
      p {
        font-family: $font1;
        font-size: 18rem;
        line-height: 1.5;
        font-weight: 500;
        font-weight: 500;
        font-size: 16rem;
      }
      .read-more {
        margin-top: 24px;
        a {
          color: $black;
          font-weight: 700;
          line-height: 1.25;
          svg {
            vertical-align: middle;
            margin-left: 5px;
          }
        }
      }
    }
    .featured-topic {
      padding-bottom: 15px;
      a {
        color: purlple;
        font-family: $font1;
        font-weight: 700;
        font-size: 16rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: purlple;
        font-weight: 700;
      }

      //  filter post

      .topic_list {
        display: flex;
        gap: 12px;
        margin-bottom: 17px;
        align-items: center;
        span {
          font-size: 16px;
          color: $purlple;
          font-weight: 700;
          line-height: 19.2px;

          svg {
            display: block;
          }
        }
        span.file {
          line-height: 0;
        }
      }
    }
  }
  .post-item {
    .download_btn {
      a {
        svg {
          position: relative;
          top: 3px;
        }
        color: $black;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    .item_inner_wrapper {
      border: 2px solid $azure;
      padding: 25px;
      border-radius: 8px;
    }
    .topic_list {
      display: flex;
      gap: 12px;
      margin-bottom: 17px;
      align-items: center;
      span {
        font-size: 16px;
        color: $purlple;
        font-weight: 700;
        line-height: 19.2px;

        svg {
          display: block;
        }
      }
      span.file {
        line-height: 0;
      }
    }
    .title {
      h4 {
        a {
          color: $black;
        }
        margin-bottom: 26px;
      }
    }

    position: relative;
    transition: all 0.3s linear;

    &:hover {
      // cursor: pointer;
      transform: translateY(-5px);
    }

    &:after {
      background-color: $primary-teal;
      border-radius: 5rem;
      bottom: -6rem;
      content: "";
      height: 12rem;
      left: 4%;
      opacity: 0;
      position: absolute;
      right: 4%;
      transition: all 0.2s linear;
      width: 92%;
    }

    &:hover:after {
      opacity: 1;
    }

    .item_inner_wrapper {
      position: relative;
      z-index: 2;
      background: $white;
    }
  }

  .site-search-wrap {
    padding-top: 200px;
    margin-bottom: 60px;
    .page-center {
      display: flex;
      padding: 0 44px;
      flex-wrap: wrap;
    }
    .search-col {
      width: 50%;
      padding: 0 12px;
      form {
        margin: 0;
        margin: 0;
        padding: 0;
        max-width: 100%;
        border-radius: 0;
        background: transparent;
      }
      input {
        border: 2px solid $silver;
        outline: none;
        border-radius: 4px;
        padding: 12px;
        font-family: $font1;
        font-size: 18rem;
        line-height: 1.5;
        font-weight: 500;
        font-weight: 500;
        font-size: 16rem;
        background-color: $silver;
        background-color: rgba($azure, 0.18);
        padding-right: 40px;
        &::-moz-placeholder {
          color: $black;
        }
        &::placeholder {
          color: $black;
        }
      }
    }
    .tag-col {
      width: 50%;
      padding: 0 12px;
      select#tinynav1 {
        border: 2px solid $silver;
        border-radius: 4px;
        outline: none;
        padding: 12px;
        font-family: $font1;
        font-size: 18rem;
        line-height: 1.5;
        font-weight: 500;
        font-weight: 500;
        font-size: 16rem;
        cursor: pointer;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: $silver;
        background-color: rgba($azure, 0.18);

        background-position: right center;
        padding: 12px;
        background-position: 98% 12px;
        padding-right: 40px;
      }
    }
  }
  .flex-row {
    .post-item {
      width: calc(33.3333% - 24px);
    }
  }
  .listing-wrap {
    .flex-row {
      gap: 36px;
      justify-content: space-between;
      margin: 0 0;
      margin-bottom: 60px;
    }
    margin-bottom: 120px;
    .post-item {
      .featured-img {
        margin-bottom: 20px;
        a {
          width: 100%;
        }
        img {
          height: 180px;
          width: 100%;
          border-radius: 10px;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      .post-content {
        .post-item-topic {
          padding-bottom: 15px;
          a {
            color: purlple;
            font-family: $font1;
            font-weight: 700;
            font-size: 16rem;
            line-height: 1.2;
            text-transform: uppercase;
            color: purlple;
            font-weight: 700;
          }
        }
        h4 {
          margin-bottom: 24px;
          color: $black;
          a {
            color: inherit;
          }
        }
        p {
          font-family: $font1;
          font-size: 18rem;
          line-height: 1.5;
          font-weight: 500;
          font-weight: 500;
          font-size: 16rem;
        }
      }
    }
    .blog-pagination {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        width: 50px;
        height: 50px;
        margin: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $azure;
        font-family: $font1;
        font-weight: 700;
        font-size: 16rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: purlple;
        color: $black;
      }
      a.prev-link {
        transform: rotate(180deg);
      }
    }
  }
  .SearchBtn {
    position: relative;
    .search_icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      pointer-events: none;
      svg {
        display: block;
      }
    }
  }

  .listing-wrap {
    .pagination {
      padding: 0;
      margin: 0;
      text-align: center;
      list-style: none;
      justify-content: center;

      nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        justify-content: center;

        button {
          @include eyebrow;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          border: 0;
          background-color: $paginationBg;
          color: $darkblack;
          span {
            pointer-events: none;
          }
          &.active {
            background-color: $azure;
          }
          &:disabled {
            display: none;
          }
        }

        button[disabled].cursor-not-allowed.next-button,
        button[disabled].cursor-not-allowed.prev-button {
          display: none;
        }
      }
    }
  }
}
section.u4m-filtered-content.topic-page {
  .blog-banner {
    padding-bottom: 60px;
  }
  .site-search-wrap {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  section.u4m-filtered-content.topic-page {
    .blog-banner {
      .page-title {
        h1 {
          margin: 0;
        }
      }
    }
  }
  section.u4m-filtered-content {
    .blog-banner {
      padding-top: 60px;
      .featured-img-col {
        width: 100%;
        padding: 0;
        a {
          width: 100%;
          height: inherit;
        }
      }
      .featured-content-col {
        width: 100%;
      }
    }
    .site-search-wrap {
      .page-center {
        row-gap: 20px;
        padding: 0 10px;
      }
      .search-col {
        width: 100%;
      }
      .tag-col {
        width: 100%;
      }
    }
    .listing-wrap {
      .post-item {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 20px;
      }
      .flex-row {
        margin: 0 -20px 60px;
        gap: 0;
      }
    }
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content {
    .blog-banner {
      .featured-content-col {
        p {
          font-size: 16rem;
          font-size: 15rem;
        }
      }
    }
    .site-search-wrap {
      .search-col {
        input {
          font-size: 16rem;
          font-size: 15rem;
        }
      }
      .tag-col {
        selecttinynav1 {
          font-size: 16rem;
          font-size: 15rem;
        }
      }
    }
    .listing-wrap {
      .post-item {
        .post-content {
          p {
            font-size: 16rem;
            font-size: 15rem;
          }
        }
      }
    }
  }

  //
}
