{% set moduleName = 'u4m-blog-listing' %}
	{% set featrows = blog_recent_tag_posts(group.id,module.featured_post.select_tag,1) %} 
	
	<section class='u4m-blog-listing {% if topic or blog_author %} topic-page {% endif %}'>
	
		<div class='blog-banner'>
			<div class="bg_overlay {% if module.background_settings.background_type =='color' %}bg_color {{ module.background_settings.select_color }} {% endif %} {% if module.background_settings.background_type =='gradient' %} bg_gradient {{ module.background_settings.select_gradient }}{% endif %}"  {% if module.background_settings.background_type =='color' %}style="opacity: {{module.background_settings.opacity}}"{% endif %}>
			</div>
			<div class='page-center'>
	
				<div class='page-title'>
					{% if topic %}
					<h1>
						{{ topic | replace('-',' ') }}
					</h1>
					{% elif blog_author %}
					<h1>
						{{ blog_author }}
					</h1>
					{% else %}
					<h1>
						{{ group.public_title }}
					</h1>
					{% endif %}
				</div>
				{% if not blog_author && not topic %}
				<div class='featured-post-wrap'>
	
					{% for tag_post in featrows %}
					<div class='featured-post {% if not tag_post.post_list_summary_featured_image %}no-img {% endif %}'>
						{% if tag_post.post_list_summary_featured_image %}
						<div class='featured-img-col'>
							<a href="{{ tag_post.absolute_url }}">
								<img src="{{ tag_post.post_list_summary_featured_image }}" alt="{{ tag_post.name | striptags }}">
							</a>
						</div> 
						{% endif %}
						<div class='featured-content-col'>
						{% if tag_post.topic_list %}
							<div class='featured-topic'>
								{% set included_topics = tag_post.topic_list | rejectattr("slug", "equalto", "featured") | list %}
								{% for topic in included_topics %}
									<a class="{{ topic.slug }}" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %}
								{% endfor %}
							</div>
						{% endif %}
							<h4>
								<a href="{{ tag_post.absolute_url }}">{{ tag_post.name }}</a>
							</h4>
							<p> {{ tag_post.post_list_content|safe|truncatehtml(200, '.' , false)|striptags}}
							</p>
							{% if module.featured_post.read_more_text %}
							<div class='read-more'>
								<a class="more-link" href="{{ tag_post.absolute_url }}">{{ module.featured_post.read_more_text }}
									<svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
										<path d="M15 7.99995C15 7.84065 14.9229 7.64141 14.7686 7.52196L8.21335 0.709209C7.9434 0.430264 7.51928 0.430264 7.24933 0.709209C6.97947 1.0279 6.97947 1.46615 7.24933 1.74499L12.6093 7.28286H0.694071C0.308519 7.28286 0 7.60156 0 7.99995C0 8.39844 0.308519 8.71714 0.694071 8.71714H12.6093L7.24933 14.2949C6.97947 14.5737 6.97947 15.0119 7.24933 15.2908C7.51928 15.5697 7.9434 15.5697 8.21335 15.2908L14.7686 8.51789C14.9229 8.39844 15 8.1992 15 7.99995Z" fill="#00819E"/>
									</svg>
								</a>
							</div>
							{% endif %}
						</div>
					</div>
					{% endfor %}
	
				</div>
				{% endif %}
			</div>
		</div>
	
		<div class='site-search-wrap'>
			<div class='page-center'>
				<div class='search-col'>
					{# Need help setting up site search?
			   Start here: https://knowledge.hubspot.com/articles/kcs_article/cos-general/how-do-i-set-up-a-results-page-for-my-search-field-in-hubspot #}
	
					{% set search_page = module.site_search.results.use_custom_search_results_template is truthy and module.site_search.results.path_id ? content_by_id(module.site_search.results.path_id).absolute_url : site_settings.content_search_results_page_path %}
	
					{% unless (search_page is string_containing "//") %}
					{% set search_page = "/" ~ search_page %}
					{% endunless %}
	
					{% set search_page = search_page|regex_replace("http:", "") %}
	
					<div class="hs-search-field">
						<div class="hs-search-field__bar">
							<form data-hs-do-not-collect="true" action="{{ search_page|escape_url }}">
								{% if module.site_search.field_label %}
								<label for="term">{{ module.site_search.field_label|sanitize_html }}</label>
								{% endif %}
								<input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="{{ module.site_search.field_label|escape_attr || "Search" }}" placeholder="{{ module.site_search.placeholder|escape_attr }}">
	
								{% if module.site_search.content_types.website_pages %}
								<input type="hidden" name="type" value="SITE_PAGE">
								{% endif %}
								{% if module.site_search.content_types.landing_pages %}
								<input type="hidden" name="type" value="LANDING_PAGE">
								{% endif %}
								{% if module.site_search.content_types.blog_posts %}
								<input type="hidden" name="type" value="BLOG_POST">
								<input type="hidden" name="type" value="LISTING_PAGE">
								{% endif %}
								{% if module.site_search.content_types.knowledge_articles %}
								<input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
								{% endif %}
								{% if module.site_search.content_types.case_studies %}
								<input type="hidden" name="type" value="HS_CASE_STUDY">
								{% endif %}
								{% if module.site_search.include_search_button %}
								<button aria-label="Search"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.29922C0 2.82065 2.82065 0 6.29923 0C9.7778 0 12.5985 2.82065 12.5985 6.29922C12.5985 7.78304 12.0805 9.15487 11.2196 10.2327L13.7953 12.8084C14.0682 13.0814 14.0682 13.5223 13.7953 13.7953C13.5223 14.0683 13.0814 14.0683 12.8084 13.7953L10.2327 11.2196C9.15487 12.0805 7.79004 12.5984 6.29923 12.5984C2.82065 12.5984 0 9.7778 0 6.29922ZM6.29923 1.39983C3.59056 1.39983 1.39983 3.59056 1.39983 6.29922C1.39983 9.00789 3.59056 11.1986 6.29923 11.1986C7.65006 11.1986 8.87487 10.6527 9.76377 9.76381C10.6527 8.87492 11.1986 7.65006 11.1986 6.29922C11.1986 3.59056 9.00789 1.39983 6.29923 1.39983Z" fill="#00161D"></path>
							</svg></button>
								{% endif %}
							</form>
						</div>
						<ul class="hs-search-field__suggestions"></ul>
					</div>
				</div>
				<div class="tag-col">
					{% set my_topics = blog_topics('default', 50) %}
					<select id="tinynav1" class="tinynav tinynav1" style="background-image: url({{ get_asset_url('../../templates/images/Arrow-Down.png') }});">
						<option value="{{ group.absolute_url }}">Select type...</option>
						{% for item in my_topics %}
						{% if item=="featured"%}
						{% else %}
						<option value="{{ blog_tag_url(group.id, item.slug) }}" {% if content.absolute_url == blog_tag_url(group.id, item.slug) %} selected{% endif %}>{{ item }}</option>
						{% endif %}
						{% endfor %}
					</select>  
				</div>
			</div>
		</div>
	
		<div class='listing-wrap'>
			<div class='page-center'>
				<div class='flex-row'>
					{% for content in contents %}
					<div class='post-item'>
						{% if module.post_item.featured_image %}
						{% if content.post_list_summary_featured_image %}
						<div class="featured-img">
							<a href="{{content.absolute_url}}">
								<img src="{{ content.post_list_summary_featured_image }}" alt="{{ content.name | striptags }}">
							</a>
						</div>
						{% endif %}
						{% endif %}
						<div class="post-content">
							{% if module.post_item.tag %}
							{% if content.topic_list %}
							<div class='post-item-topic'>

							{% set included_topics = content.topic_list | rejectattr("slug", "equalto", "featured") | list %}
								{% for topic in included_topics %}
									<a class="{{ topic.slug }}" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %}
								{% endfor %}

								
							</div>
						{% endif %}
							{% endif %}
							{% if module.post_item.title %}
							<h4>
								<a href="{{ content.absolute_url }}">{{ content.name }}</a>
							</h4>
							{% endif %}
							{% if module.post_item.description %}
							<p> {{ content.post_list_content|safe|truncatehtml(200, '.' , false)|striptags}}
							</p>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
	
				<div class="blog-pagination">
					{% set page_list = [-2, -1, 0, 1, 2] %}
					{% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
					{% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
					{% elif current_page_num == 2 %}{% set offset = 1 %}
					{% elif current_page_num == 1 %}{% set offset = 2 %}
					{% else %}{% set offset = 0 %}{% endif %}
	
					{% if last_page_num %}<a class="prev-link" href="{{ blog_page_link(last_page_num) }}"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1.23369 1.241C1.54528 0.932686 2.05047 0.932686 2.36202 1.241L6.61737 5.45154C6.92896 5.75986 6.92896 6.25965 6.61737 6.56797L2.36203 10.7785C2.05047 11.0868 1.54528 11.0868 1.23369 10.7785C0.922103 10.4702 0.922103 9.97035 1.23369 9.66205L4.9248 6.00975L1.23369 2.35743C0.922103 2.04911 0.922103 1.54932 1.23369 1.241Z" fill="#00161D" stroke="#00161D"/>
					</svg></a>{% endif %}
					{% if contents.total_page_count > 5 %}
					{% if current_page_num >= 4 %}
					<a href="{{ blog_page_link(1) }}">1</a>
					<a class="elipses" href="{% if current_page_num <= 5 %}{{ blog_page_link(1) }}{% else %}{{ blog_page_link(current_page_num - 5) }}{% endif %}">...</a>
					{% endif %}
					{% endif %}
	
					{% for page in page_list %}
					{% set this_page = current_page_num + page + offset %}
					{% if this_page > 0 and this_page <= contents.total_page_count %}
					<a {% if this_page == current_page_num %}class="active"{% endif %} href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
					{% endif %}
					{% endfor %}
	
					{% if contents.total_page_count > 5 %}
					{% if contents.total_page_count - current_page_num > 2 %}
					<a class="elipses" href="{% if contents.total_page_count - current_page_num <= 5 %}{{ contents.total_page_count }}{% else %}{{ blog_page_link(current_page_num + 5) }}{% endif %}">...</a>
					<a href="{{ blog_page_link(contents.total_page_count) }}">{{ contents.total_page_count }}</a>
					{% endif %}
					{% endif %}   
					{% if next_page_num %}<a class="next-link" href="{{ blog_page_link(current_page_num + 1) }}"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1.23369 1.241C1.54528 0.932686 2.05047 0.932686 2.36202 1.241L6.61737 5.45154C6.92896 5.75986 6.92896 6.25965 6.61737 6.56797L2.36203 10.7785C2.05047 11.0868 1.54528 11.0868 1.23369 10.7785C0.922103 10.4702 0.922103 9.97035 1.23369 9.66205L4.9248 6.00975L1.23369 2.35743C0.922103 2.04911 0.922103 1.54932 1.23369 1.241Z" fill="#00161D" stroke="#00161D"/>
					</svg></a>{% endif %}
	
				</div>
			</div>
		</div>
	
	</section>
	