@import "../../css/_module-imports";

section.u4m-blog-listing {
  position: relative;
  &.topic-page {
    .blog-banner {
      padding-bottom: 60px;
      @include tabletvert {
        .page-title {
          h1 {
            margin: 0;
          }
        }
      }
    }
    .site-search-wrap {
      padding-top: 60px;
    }
  }
  .hs-search-field {
    position: relative;
  }
  .hs-search-field__input {
    box-sizing: border-box;
    width: 100%;
  }
  .hs-search-field__suggestions {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
  }
  .hs-search-field--open .hs-search-field__suggestions {
    border: 1px solid $silver;
    padding: 15px;
  }
  .hs-search-field__suggestions li {
    display: block;
    margin: 0;
    padding: 0;
  }
  .hs-search-field__suggestions #results-for {
    font-weight: bold;
  }
  .hs-search-field__suggestions a,
  .hs-search-field__suggestions #results-for {
    display: block;
    color: $black;
  }
  .hs-search-field__suggestions a:hover,
  .hs-search-field__suggestions a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .blog-banner {
    position: relative;
    padding-top: 120px;
    @include tabletvert {
      padding-top: 60px;
    }
    .page-title {
      text-align: center;
      h1 {
        margin-bottom: 60px;
        text-transform: capitalize;
      }
    }
    .featured-post-wrap {
      background: $white;
      margin: 0 auto;
      max-width: 780px;
      padding: 24px;
      position: relative;
      border: 2px solid $azure;
      border-radius: 8px;
      top: 140px;
      margin-top: -140px;
    }
    .featured-post {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px;
      &.no-img {
        .featured-content-col {
          width: 100%;
        }
      }
    }
    .featured-img-col {
      width: 50%;
      padding: 0 12px;
      @include tabletvert {
        width: 100%;
        padding: 0;
        a {
          width: 100%;
          height: inherit;
        }
      }
      a {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
    .featured-content-col {
      width: 50%;
      padding: 12px 12px;
      @include tabletvert {
        width: 100%;
      }
      h4 {
        a {
          color: inherit;
        }
        margin-bottom: 14px;
        color: $black;
      }
      p {
        @include b2;
      }
      .read-more {
        margin-top: 24px;
        a {
          color: $black;
          font-weight: 700;
          line-height: 1.25;
          svg {
            vertical-align: middle;
            margin-left: 5px;
          }
        }
      }
    }
    .featured-topic {
      a {
        color: $purlple;
        @include eyebrow;
        font-weight: 700;
      }
      padding-bottom: 15px;
    }
  }
  .site-search-wrap {
    padding-top: 200px;
    margin-bottom: 60px;
    .page-center {
      display: flex;
      padding: 0 44px;
      flex-wrap: wrap;
      @include tabletvert {
        row-gap: 20px;
        padding: 0 24px;
      }
    }
    .search-col,
    .tag-col {
      width: 50%;
      @include tabletvertmin {
        padding: 0 12px;
      }
      @include tabletvert {
        width: 100%;
      }
    }
    .search-col {
      form {
        margin: 0;
        margin: 0;
        padding: 0;
        max-width: 100%;
        border-radius: 0;
        background: transparent;
        position: relative;
        box-shadow: none;
        button {
          background: no-repeat;
          border: none;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          padding: 0;
        }
      }
      .hs-search-field__input {
        border: 2px solid $silver;
        outline: none;
        border-radius: 4px;
        padding: 12px;
        padding-right: 42px;
        @include b2;
        &::placeholder {
          color: $black;
        }
      }
    }
    .tag-col {
      select#tinynav1 {
        border: 2px solid $silver;
        border-radius: 4px;
        outline: none;
        padding: 12px;
        @include b2;
        background-repeat: no-repeat;
        appearance: none;
        background-position: right center;
      }
    }
  }
  .listing-wrap {
    margin-bottom: 120px;
    @include tabletvert {
      margin-bottom: 60px;
    }
    .flex-row {
      margin: 0 -20px 60px;
      row-gap: 72px;
      @include tabletvert {
        row-gap: 40px;
      }
      @include tabletvertmin {
        margin: 0 -24px 60px;
      }
    }

    .post-item {
      padding: 0 24px;
      width: 100%;
      @include tabletvertmin {
        width: 50%;
        padding: 0 20px;
      }
      @include tabletmidmin {
        width: 33.3333%;
      }
      @include tabletvert {
        padding: 0 20px;
      }
      .featured-img {
        margin-bottom: 20px;
        a {
          width: 100%;
        }
        img {
          @include tabletvertmin {
            height: 180px;
          }
          height: 56.66%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      .post-content {
        .post-item-topic {
          a {
            color: $purlple;
            @include eyebrow;
            font-weight: 700;
          }
          padding-bottom: 15px;
        }
        h4 {
          a {
            color: inherit;
          }
          margin-bottom: 24px;
          color: $black;
        }
        p {
          @include b2;
          margin: 0;
        }
      }
    }

    .blog-pagination {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        width: 50px;
        height: 50px;
        margin: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $paginationBg;
        @include eyebrow;
        color: $black;
        &.prev-link {
          transform: rotate(180deg);
        }
        &.active {
          background-color: $azure;
        }
      }
    }
  }
}
