<!--
    templateType: global_partial
    label: Footer
-->

<footer class="u4m-footer">
	<div class="site-footer-inner">
		<div class="page-center">
			<div class="footer-top">
				<div class="footer-top-inner flex_row">
					<div class="footer-logo col12 col">
						<div class="custom-logo">
							{% module "footer_logo" path="@hubspot/logo", label="Footer Logo",  img={src= "{{ get_asset_url('../../templates/images/akoya-footer-logo.png') }}", width=195, override_inherited_src= true, alt="Akoya" } , link="/" %}
						</div>
					</div>
					<div class="footer-menu col12 col">
						<div class="footer-menu-inn">
							{% module "footer_menu" path="@hubspot/menu" ,
							  id=183170903570,
								label="Menu",
								max_levels="5",
								flyouts=false
								%}
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<hr class="footer-divider">
				<div class="footer-bottom-inner flex_row">
					<div class="col4 col copyright-col">
						<div class="copyright-text">
							{% module_block module "copyright" path="@hubspot/rich_text" label="Copyright" %}
							{% module_attribute "html" %}
							<p>
								© {{year}} Akoya. All Rights Reserved.
							</p>
							{% end_module_attribute %}
							{% end_module_block %}
						</div>
					</div>
					<div class="col8 col disclaimer-col">
						<div class="disclaimer-text">
							{% module_block module "disclaimer" path="@hubspot/rich_text" label="Disclaimer" %}
							{% module_attribute "html" %}
							<p>
								By using this site, you agree to the use of cookies in connection with accessing and viewing the site content.
							</p>
							{% end_module_attribute %}
							{% end_module_block %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

{% require_css %}
<style>
	.site-footer-inner {
		background-color: #00161D;
		padding: 72px 150px 96px;
	}

	.footer-menu .hs-menu-wrapper>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
		position: static;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		justify-content: space-between;
		column-gap:10px;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul > li.hs-menu-item {
	    float: none;
    width: auto;
    margin: 0;
		letter-spacing: normal;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul > li.hs-menu-item > a:empty {
		padding: 0;
		display: block;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul ul > li.hs-menu-item a {
		font-family: Assistant,sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 27px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #fff;
		width: auto !important;
		max-width: 100%;
		padding: 0;
		margin-bottom: 10px;
		cursor: pointer;
    display: inline-block !important;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul ul > li.hs-menu-depth-2 > a {
		font-weight: 700;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul ul > li.hs-menu-depth-2:not(:last-child) {
		margin-bottom: 24px;
	}

	.footer-logo {
		padding-bottom: 36px;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul ul > li.hs-menu-item a:last-child {
		margin-bottom: 0;
	}

	hr.footer-divider {
		border: 2px solid #405258;
		margin: 0 10px;
		margin-top: 36px;
		margin-bottom: 31px;
	}

	.copyright-col, .disclaimer-col {
		font-family: Assistant,sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 27px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #fff;
	}

	.footer-bottom p:last-child {
		margin-bottom: 0;
	}
	
	.disclaimer-text {
    text-align: right;
	}

	.footer-top,
	.footer-bottom {
		margin: 0 -10px;
		width: auto;
	}

	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul:after,
	.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul:before {
		display: none;
	}

	@media (max-width:1200px) and (min-width:768px) {
		
		.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
			row-gap: 30px;
		}

		.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul > li.hs-menu-item {
			width: calc(50% - 16px);
		}
	}
	
	@media (max-width:991px) {
		.site-footer-inner {
			padding-left: 50px;
			padding-right: 50px;
		}
		
	}
	
	@media (max-width:767px) {
		
		.footer-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul {flex-direction: column;row-gap: 20px;}

.footer-top, .footer-bottom {
    margin: 0;
    width: 100%;
}

.disclaimer-text {
    text-align: left;
}

hr.footer-divider {
    margin-left: 0;
    margin-right: 0;
}

.footer-bottom-inner {
    row-gap: 20px;
}

.site-footer-inner {
    padding-left: 0;
    padding-right: 0;
}
	}
	
	
</style>
{% end_require_css%}

