<!--
    templateType: global_partial
    label: Footer
-->

<footer class="u4m-footer">
	<div class="site-footer-inner">
		<div class="page-center">
			<div class="footer-top">
				<div class="footer-top-inner flex_row">
					<div class="footer-logo col12 col">
						<div class="custom-logo">
							{% module "footer_logo" path="@hubspot/logo", label="Footer Logo",  img={src= "{{ get_asset_url('../../templates/images/akoya-footer-logo.png') }}", width=195, override_inherited_src= true, alt="Akoya" } , link="/" %}
						</div>
					</div>
					<div class="footer-menu col12 col">
						<div class="footer-menu-inn">
							{% module "footer_menu" path="@hubspot/menu" ,
							  id=183170903570,
								label="Menu",
								max_levels="5",
								flyouts=false
								%}
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<hr class="footer-divider">
				<div class="footer-bottom-inner flex_row">
					<div class="col4 col copyright-col">
						<div class="copyright-text">
							{% module_block module "copyright" path="@hubspot/rich_text" label="Copyright" %}
							{% module_attribute "html" %}
							<p>
								© {{year}} Akoya. All Rights Reserved.
							</p>
							{% end_module_attribute %}
							{% end_module_block %}
						</div>
					</div>
					<div class="col8 col disclaimer-col">
						<div class="disclaimer-text">
							{% module_block module "disclaimer" path="@hubspot/rich_text" label="Disclaimer" %}
							{% module_attribute "html" %}
							<p>
								By using this site, you agree to the use of cookies in connection with accessing and viewing the site content.
							</p>
							{% end_module_attribute %}
							{% end_module_block %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


