@import "../../css/_module-imports";

.u4m-animated-stats {
  padding-left: 40px;
  padding-right: 40px;
  @include tabletvert {
    padding-left: 20px;
    padding-right: 20px;
  }
  .full-width-container {
    padding-left: 0;
    padding-right: 0;
    .intro_content {
      margin-bottom: 48px;
      .intro_title {
        margin-bottom: 27px;
      }
    }
  }
  .stats-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    @include tabletvert {
      row-gap: 20px;
    }
    .stats-item {
      width: 20%;
      text-align: center;
      display: inline-block;

      @include midlaptop {
        width: 33.333%;
      }

      @include tabletvert {
        width: 100%;
      }

      .stats-item-inn {
        @include b2;
        text-align: center;
        color: $charcoal;
        padding-left: 30px;
        padding-right: 30px;
        border-right: $azure 1px solid;
        @include tabletvert {
          border-right: 0;
          padding-left: 0;
          padding-right: 0;
          border-bottom: $azure 1px solid;
          padding-bottom: 20px;
        }
        .stats_icon_box {
          line-height: 1;
          margin-bottom: 12px;
          font-size: 30px;
          .material-symbols-outlined {
            font-size: 30px;
            display: block;
          }
          .img_icon {
            width: 30px;
            display: inline-block;
          }
        }
        .stats-assets {
          @include size18;
          font-weight: 800;
          line-height: 1.2;
          letter-spacing: 0.02em;
          color: $purlple;
          margin-bottom: 12px;
        }
        .stats-numeric {
          @include h1;
          line-height: 1;
          letter-spacing: -0.03em;
          text-align: center;
          margin-bottom: 12px;
        }
        .stats-content {
          @include size18;
          line-height: 1.5;
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @include tablet {
      .stats-item:nth-child(5n) {
        .countdown-item-inn {
          border-right: $azure 1px solid;
        }
      }
      .stats-item:nth-child(3n),
      .stats-item:last-child {
        .stats-item-inn {
          border-right: 0;
        }
      }
    }

    @include tabletvert {
      .stats-item:last-child {
        .stats-item-inn {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    .stats-item:nth-child(5n),
    .stats-item:last-child {
      .stats-item-inn {
        border-right: 0;
      }
    }
  }

  &.reverse-text {
    .stats_icon_box,
    .stats-content {
      color: $white;
    }
    .stats-items {
      .stats-item {
        .stats-item-inn {
          .stats-assets {
            color: $white;
          }
          .stats-numeric {
            color: $white;
          }
        }
      }
    }
  }
}
