<!--
 templateType: page
 isAvailableForNewContent: false
-->  


{% macro buttonGroup(items)%}
<div class="intro_btn_wrap">
	{% for item in items %}
	<div class="btn_item">
		{% if item.button_type == "std" %}
		{% set href = item.link.url.href %}
		{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
		{% endif %}
		<a class="{{ item.button_theme ? item.button_theme : "hs-button" }}"
			 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
			 href="{{ href }}" 
			 {% else %}
			 href="{{ href }}"
			 {% endif %}
			 {% if item.link.open_in_new_tab %}
			 target="_blank"
			 {% endif %}
			 {% if item.link.rel %}
			 rel="{{ item.link.rel }}"
			 {% endif %}>
			<span>{{ item.button_text }}</span>{% if item.button_theme == "arrow-link"%}
			<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 7.49995C15 7.34065 14.9229 7.14141 14.7686 7.02196L8.21335 0.209209C7.9434 -0.0697364 7.51928 -0.0697364 7.24933 0.209209C6.97947 0.527904 6.97947 0.966148 7.24933 1.24499L12.6093 6.78286H0.694071C0.308519 6.78286 0 7.10156 0 7.49995C0 7.89844 0.308519 8.21714 0.694071 8.21714H12.6093L7.24933 13.7949C6.97947 14.0737 6.97947 14.5119 7.24933 14.7908C7.51928 15.0697 7.9434 15.0697 8.21335 14.7908L14.7686 8.01789C14.9229 7.89844 15 7.6992 15 7.49995Z" fill="#00819E"/>
			</svg> {% endif %}
		</a>
		{% endif %}
		{% if item.button_type == "cta" %}
		{% cta guid="{{ item.cta }}" %}
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endmacro%}



{% macro introGroup(group)%}
<div class="intro_content">

	<div class="intro__inner">
		{% if group.include_eyebrow_text %}
		<div class="eyebrow_text">
			{{ group.eyebrow_text }}
		</div>
		{% endif %}
		{% if group.include_heading %}
		<h2 class="intro_title">{{ group.heading }}</h2>
		{% endif %}
		
		
		{% if group.include_divider %}
		<span class="divider"></span>
		{% endif %}
		
		{% if group.include_content %}
		<div class="intro_desc {{ group.content_style }}">
			{{ group.content }}
		</div>
		{% endif %}

		{#===#}

		{% if group.include_button %}
		{{buttonGroup(group.button_group)}}
		{% endif %}

		{#===#}

	</div>
</div>
{% endmacro%}






