@import "../../css/_module-imports";

section.u4m-cards {
  .intro_content {
    max-width: 100%;
    .intro_desc {
      max-width: 730px;
      margin: 0 auto 36px;
      p {
        color: $dark-grayish-green;
      }
    }
  }
  .cardItems {
    margin: 0 -24px;
    row-gap: 48px;
    justify-content: center;
    @include navbreak {
      margin: 0 -20px;
    }
    @include tabletvert {
      margin: 0;
      gap: 30px;
    }

    &.inrow_three {
      .cardItem {
        width: 33.33%;

        @include tablet {
          width: 50%;
        }

        @include tabletvert {
          width: 100%;
        }
      }
    }

    .cardItem {
      width: 50%;
      padding: 0 24px;
      @include navbreak {
        padding: 0 20px;
      }
      @include tabletvert {
        width: 100%;
        padding: 0;
      }
      .cardItemIn {
        box-shadow: $shadow4;
        border-radius: 10px;
        padding: 48px;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include navbreak {
          padding: 38px;
        }
        @include tabletvert {
          padding: 30px;
        }
        .cardItemIconWrap {
          .img_icon {
            img {
              vertical-align: middle;
            }
          }
          .material-symbols-outlined {
            color: $white;
          }
          margin-bottom: 30px;
          .abs_stats {
            width: calc(100% - 144px);
            padding-left: 12px;
            @include navbreak {
              width: 100%;
              padding-left: 0;
              margin-top: 10px;
            }
            .abs_stat_item {
              @include absStats;
              & + .abs_stat_item {
                margin-top: 10px;
              }
            }
          }
        }
        .cardItemCon {
          .cardItemttl {
            margin-bottom: 11px;
          }
          p {
            margin: 0;
          }
          padding-bottom: 30px;
        }
        .cardItemBtn {
          margin-top: auto;
          .intro_btn_wrap {
            justify-content: start;
          }
        }
      }
      .cardItemIn.light {
        .cardItemCon {
          color: $gray;
          h3 {
            color: $white;
          }
        }
      }
    }
  }
  .cardItems.card_type1 {
    .cardItem {
      .cardItemIn {
        .cardItemIconWrap {
          .cardItemIcon {
            width: 48px;
            height: 48px;
            background: $statsBg2;
            border-radius: 100%;
            padding: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .cardItems.card_type2 {
    .cardItem {
      .cardItemIn {
        .cardItemIconWrap {
          .cardItemIcon {
            padding: 38px 24px;
            border-radius: 10px;
            background: $statsBg;
            width: 144px;
            display: flex;
            align-items: center;
            .material-symbols-outlined {
              font-size: 95px;
              color: $white;
            }
          }
        }
      }
    }
  }
}
