{% set moduleName = 'u4m-cards' %}
{% include "../partials/u4-module-includes.html" %}

<div class="{% if module.module_overrides.container_full_width %}full-width-container{% else %}page-center{% endif %}">
	{{macros.introGroup(module.intro_content)}}
	<div class="cardItems flex_row card_{{ module.module_settings.card_type }} inrow_{{ module.module_settings.cards_column_in_row }}">
		{% for item in module.card_items %}
		<div class="cardItem">
			<div class="cardItemIn {{ module.module_settings.select_card_background_color }} {{ module.module_settings.select_card_content_color }}">
				{% if item.select_icon_type || module.module_settings.card_type =="type2" %}
				<div class="cardItemIconWrap flex_row">
					<div class="cardItemIcon">
						{% if item.select_icon_type == "image" and item.image.src %}
						<span class="img_icon">
							<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" >
						</span>
						{% endif %}
						{% if item.select_icon_type == "custom_icon_name" and item.icon %}
						<span class="material-symbols-outlined">{{ item.icon }}
						</span>
						{% endif %}
						{% if item.select_icon_type == "icon" and item.icon_svg.name %}
						<span class="svg_icon">
							{% icon
		name="{{ item.icon_svg.name }}"
		style="{{ item.icon_svg.type }}"
		unicode="{{ item.icon_svg.unicode }}"
		icon_set="{{ item.icon_svg.icon_set }}"
	%}
						</span>
						{% endif %}
					</div>
					{% if module.module_settings.card_type =="type2" %}
					{% if item.include_stats %}
					<div class="abs_stats">
						{% for item2 in item.stats_group %}
						<div class="abs_stat_item it{{loop.index}}">
							<div class="abs_icon_box">
								{% if item2.select_icon_type == "image" and item2.image_icon.src %}
								<span class="img_icon">
									<img src="{{ item2.image_icon.src }}" alt="{{ item2.image_icon.alt }}">
								</span>
								{% endif %}
								{% if item2.select_icon_type == "custom" and item2.custom_icon %}
								<span class="material-symbols-outlined">{{ item2.custom_icon }}
								</span>
								{% endif %}
								
									{% if item2.select_icon_type == "icon" and item2.icon_svg.name %}
											<span class="svg_icon">{% icon
												name="{{ item2.icon_svg.name }}"
												style="{{ item2.icon_svg.type }}"
												unicode="{{ item2.icon_svg.unicode }}"
												icon_set="{{ item2.icon_svg.icon_set }}"
											%}
										</span>
								{% endif %}
								
								
								
							</div>
							<div class="abs_content_box">
								{% if item2.title  %}<span class="title_box">{{ item2.title }}</span>{% endif %}
								{% if item2.stats  %}<span class="stats_box">{{ item2.stats }}</span>{% endif %}
							</div>
						</div>
						{% endfor %}

					</div>
					{% endif %}
					{% endif %}
				</div>
				{% endif %}
				<div class="cardItemCon">
					<h3 class="cardItemttl">{{ item.title }}</h3>
					{{ item.content }}
				</div>
				<div class="cardItemBtn">
					{{ macros.buttonGroup(item.button_group)}}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

</section>
























