@import "../../css/_module-imports";

.u4m-left-tabber {
  display: block;

  &.bg_pos_inside {
    .full-width-container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &.reverse-text {
    .lefttab_nav_item {
      &:not(.active) {
        .nav_trigger_wrap {
          .arrow_ic,
          .nav_titlee {
            color: inherit;
          }
        }
      }
    }
  }

  .lefttab_main {
    display: flex;
    flex-wrap: wrap;
  }

  .lefttabber_nav {
    border-left: 2px solid $azure;
    width: 100%;
    @include tabletMin {
      width: 46%;
      padding-right: 6%;
    }

    .nav_titlee {
      margin-bottom: 0;
    }

    .lefttab_nav_item {
      opacity: 0.3;
      margin-left: -2px;
      border-left: 2px solid transparent;
      padding: 25px 36px;
      border-radius: 0 10rem 10rem 0;
      @include tabletvert {
        padding: 25rem;
      }

      &.active {
        opacity: 1;
        border-left: 2px solid $purlple;
        background-color: rgba($purlple, 0.1);

        .nav_trigger_wrap {
          .arrow_ic {
            transform: rotate(0deg);
            transition: 0.2s ease;
          }
        }
      }

      .nav_text_col {
        position: relative;
      }

      .nav_content_block {
        padding-top: 13px;
        color: $basecolor;
      }

      .nav_trigger_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .arrow_ic {
          color: $headingColor;
          display: block;
          transform-origin: center;
          transform: rotate(180deg);
          transition: 0.2s ease;
          svg {
            display: block;
            path {
              fill: currentColor;
              stroke: currentColor;
            }
          }
        }
      }
    }
  }

  .tabber_pannel {
    @include tablet {
      display: none;
    }
  }

  .right_col {
    width: 100%;

    @include tabletMin {
      width: 54%;
    }

    .lefttabber_pannel_item {
      @include tabletMin {
        &:not(.active) {
          display: none;
        }
      }

      .img_col {
        align-items: center;
        opacity: 0;
        transition: 0.2s ease;
      }

      &.animated .img_col {
        opacity: 1;
      }
    }

    .img_col {
      position: relative;
      padding-bottom: 36.25%;
      min-height: 380px;
      overflow: hidden;
      border-radius: $borderRadius;
    }

    .tab_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .abs_stats {
      position: absolute;
      top: 57rem;
      left: 49rem;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      max-width: 320px;
      width: 100%;
      gap: 10px;
      .abs_stat_item {
        @include absStats;

        @include phone {
          width: calc(100% - 20rem);
          flex-wrap: wrap;
        }
      }

      @include tabletvert {
        top: 20rem;
        left: 20rem;
      }

      @include phone {
        left: 10rem;
        top: 10rem;
      }
    }
  }

  .mobile_content {
    @include tabletMin {
      display: none;
    }
    margin-top: 20px;
    .right_col {
      border-radius: 10rem;
      min-height: 380px;
      overflow: hidden;
      padding-bottom: 36.25%;
      position: relative;
      width: 100%;
    }
  }
}
