section.u4m-blog-post {
  /*****************************************/
  /* .hero                                 */
  /*****************************************/
  div.hero {
    background-color: $gray1;
    margin-bottom: 50rem;
    position: relative;
    padding-top: 105px;

    div.share {
      position: absolute;
      max-width: 50rem;
      left: 50rem;

      a {
        font-size: 26rem;
        margin: 5rem;

        &:hover {
          color: $black;
        }
      }

      @include tablet {
        display: none;
      }
    }

    div.content {
      @include center;
      max-width: 1000rem;
      padding: 50rem 20rem 40rem 20rem;
      max-width: 1000rem;

      //margin: 50rem auto 50rem auto;

      h1.title {
        @include h1;
        margin: 0;
      }

      div.author-wrap {
        display: flex;
        align-items: center;
        margin-top: 10rem;

        div.avatar {
          height: 50rem;
          width: 50rem;
          border-radius: 50%;
          background-size: cover;
          background-position: 50%;
          margin: 5rem 10rem 0 0;
          background-image: url("https://302335.fs1.hubspotusercontent-na1.net/hubfs/302335/default-avatar.png");
        }

        div.author-link {
          a {
            font-weight: bold;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }

  /*****************************************/
  /* .body                                 */
  /*****************************************/
  div.body {
    @include center;
    max-width: 1000rem;

    div.content {
      p,
      ul,
      ol {
        @include b3;
      }

      h1 {
        @include h1;
      }

      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      h4 {
        @include h4;
      }

      h5 {
        @include h5;
      }

      h6 {
        @include h6;
      }

      blockquote {
        @include blockquote;

        p {
          @include blockquote;
        }
      }

      a {
        font-weight: bold;

        &:hover {
          color: $black;
        }
      }
    }
  }

  /*****************************************/
  /* .author                               */
  /*****************************************/
  div.author {
    @include center;
    max-width: 1000rem;
    margin-top: 50rem;
    display: flex;
    align-items: center;

    @include phone {
      display: block;
    }

    div.meta {
      flex: 0 0 170rem;
      text-align: center;

      div.avatar {
        width: 100rem;
        height: 100rem;
        background-image: url("https://302335.fs1.hubspotusercontent-na1.net/hubfs/302335/default-avatar.png");
        background-size: cover;
        background-position: 50%;
        border-radius: 50%;
        margin: 0 auto;

        @include phone {
          margin-bottom: 30rem;
        }
      }
    }

    div.bio {
      .name {
        @include h5;
        margin: 0;
      }

      p {
        @include b5;
        margin-top: 20px;
      }

      .social {
        .label {
          @include b4;

          @include phone {
            @include b6;
          }
        }

        a {
          font-size: 20rem;
          margin-left: 10rem;

          @include phone {
            font-size: 18rem;
            margin-left: 8rem;
          }
        }
      }
    }
  }

  /*****************************************/
  /* .comments                             */
  /*****************************************/
  div.comments {
    margin-bottom: 100rem;

    h2.heading {
      @include h3;
      @include center;
      text-align: center;
      margin: 100rem auto 0 auto;
    }

    div.content {
      @include center;
      max-width: 1000rem;
      margin-top: 50rem;

      form {
        @include form;

        .hs-button {
          @include button;
        }
      }
    }
  }
}

// custom post css

section.u4m-blog-post {
  .blog-post-wrap {
    padding-bottom: 120px;
    .page-center {
      &::after,
      &::before {
        content: "";
        display: table;
      }
      &::after {
        clear: both;
      }
      max-width: 860rem;
    }
    .blog-social-wrap {
      width: 90px;
      padding-right: 50px;
      position: sticky;
      top: 30px;
      float: left;
      @include tabletvert {
        position: static;
        width: 100%;
      }
      .social-share {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          margin-bottom: 5px;
          color: $black2;
          @include size16;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          @include tabletvert {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            li {
              margin: 0;
              margin-right: 10px;
            }
          }
          li {
            margin-bottom: 12px;
            a {
              background-color: $secondary-teal;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
    .blog-post-body {
      width: calc(100% - 90px);
      float: left;
      @include tabletvert {
        width: 100%;
      }
      .hs-featured-image-wrapper {
        margin-bottom: 60px;
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      blockquote {
        background-color: rgba($purlple, 0.1);
        border-radius: 8px;
        padding: 36px;
        margin: 48px 0;
        @include size24;
        color: $charcoal;
        font-style: italic;
        font-weight: normal;
        letter-spacing: normal;
        position: relative;
        max-width: 100%;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 18px;
          width: 4px;
          height: 100%;
          background-image: url('{{ get_asset_url("/Akoya/templates/images/blockquote-arrow.png") }}');
          top: 18px;
          width: 48px;
          background-repeat: no-repeat;
        }
        p {
          margin: 0;
          color: $charcoal;
          @include size24;
          font-weight: normal;
          letter-spacing: normal;
          max-width: 100%;
          font-family: $font2;
        }
      }
      ul {
        font-size: $baseFontSize;
      }
      ol {
        font-size: $baseFontSize;
      }
    }
    .topics {
      margin-top: 60px;
      .label {
        @include size16;
        font-weight: 700;
        display: inline-block;
        margin-right: 18px;
        color: $black;
      }
      a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid $black;
        border-radius: 30px;
        line-height: 1;
        @include size14;
        color: $black;
        margin-right: 12px;
      }
    }
  }
  .blog-post-divider {
    padding-bottom: 120px;
    hr {
      margin: 0;
      border-top: 2px solid $silver;
    }
  }
}
