//heading styles
@mixin h1 {
  font-family: $font1;
  font-size: 66rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  margin-bottom: 30rem;
  line-height: 1;
  margin-top: 0;
  letter-spacing: -0.03em;
  color: $headingColor;
  @include tablet {
    font-size: 48rem;
  }
  @include phone {
    font-size: 38rem;
    margin-bottom: 20rem;
  }
}

@mixin h2 {
  font-family: $font1;
  font-size: 45rem;
  font-weight: 700;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;

  color: $headingColor;
  @include tablet {
    font-size: 38rem;
  }
  @include phone {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}

@mixin h3 {
  font-family: $font1;
  font-size: 32rem;
  font-weight: 700;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;
  letter-spacing: -0.03em;
  color: $headingColor;
  @include tablet {
    font-size: 28rem;
  }
  @include phone {
    margin-bottom: 20rem;
  }
}
@mixin h4 {
  font-family: $font1;
  font-size: 24rem;
  font-weight: 700;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;
  color: $headingColor;
  @include tablet {
    font-size: 22rem;
  }
  @include phone {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
@mixin h5 {
  font-family: $font1;
  font-size: 20rem;
  font-weight: 700;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;
  color: $headingColor;
  @include tablet {
    font-size: 18rem;
  }
  @include phone {
    font-size: 16rem;
    margin-bottom: 20rem;
  }
}
@mixin h6 {
  font-family: $font1;
  font-size: 18rem;
  font-weight: 500;
  margin-bottom: 30rem;
  line-height: 1.5;
  margin-top: 0;
  color: $charcoal;

  @include phone {
    font-size: 16rem;
    margin-bottom: 20rem;
  }
}

@mixin bodyStyle {
  font-family: $font1;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: $baseFontWeight;

  @include phone {
    font-size: 16rem;
  }
}

//body styles
@mixin b1 {
  font-weight: 500;
  @include bodyStyle;
}
@mixin b2 {
  @include bodyStyle;
  font-weight: 500;
  font-size: 16rem;
  @include phone {
    font-size: 15rem;
  }
}
@mixin b3 {
  @include bodyStyle;
  font-weight: 500;
  font-size: 14rem;
}
@mixin b4 {
  font-family: $font1;
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  @include phone {
    font-size: 14rem;
  }
}
@mixin b5 {
  font-family: $font1;
  font-size: 13rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  @include phone {
    font-size: 13rem;
  }
}
@mixin b6 {
  font-family: $font1;
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;
  @include phone {
    font-size: 12rem;
  }
}
@mixin blockquote {
  font-family: $font1;
  font-size: 30rem;
  font-weight: bold;
  line-height: $baseLineHeight;
  letter-spacing: 1rem;
  margin: 50rem auto;
  color: $action1;
  display: block;
  max-width: 90%;
  @include phone {
    font-size: 23rem;
  }
}

@mixin eyebrow {
  font-family: $font1;
  font-weight: 700;
  font-size: 16rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $purlple;
}

//

@mixin size64 {
  font-size: 64rem;

  @include tablet {
    font-size: 48rem;
  }
  @include phone {
    font-size: 38rem;
  }
}

@mixin size38 {
  font-size: 38rem;

  @include tablet {
    font-size: 34rem;
  }
  @include phone {
    font-size: 28rem;
  }
}

@mixin size26 {
  font-size: 26rem;

  @include tablet {
    font-size: 24rem;
  }
  @include phone {
    font-size: 22rem;
  }
}

@mixin size24 {
  font-size: 24rem;

  @include tablet {
    font-size: 22rem;
  }
  @include phone {
    font-size: 20rem;
  }
}

@mixin size20 {
  font-size: 20rem;

  @include phone {
    font-size: 16rem;
  }
}

@mixin size18 {
  font-size: 18rem;

  @include phone {
    font-size: 16rem;
  }
}

@mixin size16 {
  font-size: 16rem;
}

@mixin size15 {
  font-size: 15rem;
}

@mixin size14 {
  font-size: 14rem;
}

@mixin size13 {
  font-size: 13rem;
}

@mixin size12 {
  font-size: 12rem;
}

@mixin check-ullist {
  padding: 0;
  margin: 0;
  list-style: none;
  @include b2;

  li {
    display: inline-flex;
    width: 100%;
    padding-left: 28px;
    line-height: 1.5;
    position: relative;
    margin-bottom: 12px;

    &:before {
      content: "";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      background-image: url("{{ get_asset_url('../templates/images/check-icon.png') }}");
    }
  }
}
