{% set moduleName = 'u4m-pricing-cards' %}
{% include "../partials/u4-module-includes.html" %}

<div class="{% if module.module_overrides.container_full_width %}full-width-container{% else %}page-center{% endif %}">
	{{macros.introGroup(module.intro_content)}}
</div>
<div class="pricing-wrapper">
	<div class="page-center">
		<div class="row">
			{% for item in module.pricing_items %}
			<div class="pricing_item">
				<div class="pricing_item_inner">
					{% if item.title %}
					<div class="pricing_top_title {{ item.select_highlight_theme }}">
						<h4>
							{{ item.title }}
						</h4>
					</div>
					{% endif %}
					<div class="pricing_content">
						{% if item.pricing_text %}
						<h2>
							{% if item.select_pricing_type == "free" %}{{ item.pricing_text }}{% endif %}{% if item.select_pricing_type == "paid" %}{{ item.prefix }}{{ item.price }}<span>{{ item.suffix }}</span>{% endif %}
						</h2>
						{% endif %}
						{% if item.content %}
						<div class="content">
							{{ item.content }}
						</div>
						{% endif %}
						<div class="button_wrapper">
							{% for item2 in item.button_group %}
							<div class="button-item">
								{% if item2.button_type == "std" %}
								{% set href = item2.link.url.href %}
								{% if item2.link.url.type is equalto "EMAIL_ADDRESS" %}
								{% set href = "mailto:" + href %}
								{% endif %}
								{% set rel = [] %}
								{% if item2.link.no_follow %}
								{% do rel.append("nofollow") %}
								{% endif %}
								{% if item2.link.open_in_new_tab %}
								{% do rel.append("noopener") %}
								{% endif %}
								<a class="btn {{ item2.button_theme }}" href="{{ href }}"
									 {% if item2.link.open_in_new_tab %}target="_blank"{% endif %}
									 {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
									 >
									{{ item2.button_text }}
								</a>
								{% endif %}
								{% if item2.button_type == "cta" %}
								{% cta guid="{{ item2.cta }}" %}
								{% endif %}
							</div>
							{% endfor %}
						</div>
						<span class="divider"></span>
						<div class="feature_wrapper">
							{% if item.feature_group.title %}
							<h4>
								{{ item.feature_group.title }}
							</h4>
							{% endif %}
							<ul>
								{% for item2 in item.feature_group.feature_items %}
								<li>{% if item2.include_feature %}<img class="check-img" src="{{ get_asset_url('../../templates/images/check-img.png') }}" alt="Check Image">{% else %}<img class="cross-img" src="{{ get_asset_url('../../templates/images/Cross-icon.png') }}" alt="Cross Image">{% endif %} {{ item2.feature_text }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</section>

