@import "../../css/_module-imports";

.u4m-pricing-cards {
  .intro_content {
    p {
      color: $black2;
    }
  }
  .pricing-wrapper {
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 48px;
      .pricing_item {
        flex: 0 0 calc(33.3333% - 32px);
        .pricing_item_inner {
          border: 2px solid $azure;
          border-radius: 10px;
          .pricing_item_inner .pricing_top_title {
            padding: 12px 36px;
            h4 {
              margin: 0;
            }
          }
          &.theme1{
            background-color: #000;
          }
        }
      }
    }
  }
}
