@import "../../css/_module-imports";

.u4m-alternating-content {
  .alter-cnt-row {
    .btn-wrap {
      justify-content: flex-start;
      @include navbreak {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .reverse-img {
      .flex_row {
        flex-direction: row-reverse;
      }
    }
    .flex_row {
      column-gap: 71px;
      .alter-right.col7 {
        width: 54.22%;
        padding-left: 0;
        padding-right: 0;
        @include navbreak {
          width: 58.333333333%;
          padding-left: 10px;
          padding-right: 10px;
        }
        @include tabletmid {
          width: 50%;
        }
        @include tabletvert {
          width: 100%;
        }
      }

      .alter-left.col5 {
        width: 39.5%;
        padding-left: 0;
        padding-right: 0;
        @include navbreak {
          width: 41.666666666%;
          padding-left: 10px;
          padding-right: 10px;
        }
        @include tabletmid {
          width: 50%;
        }
        @include tabletvert {
          width: 100%;
        }
      }
      @include navbreak {
        column-gap: 0;
      }
      @include tabletvert {
        row-gap: 30px;
      }
    }
    .alter-cnt-items {
      margin-bottom: 38px;
      &.no-slider {
        .alter-cnt-item {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .alter-content-row {
    height: 100%;
  }

  .alter-cnt-items button.slick-arrow {
    display: none !important;
  }

  .alter-image ~ .additional_content {
    margin-top: 40px;
  }

  .alter-content {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    margin-bottom: 37px;
    h6 {
      @include eyebrow;
      margin-bottom: 13px;
    }
    h2 {
      font-size: 45px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -0.03em;
      margin-bottom: 26px;
    }
    p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .additional_content {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    margin-bottom: 37px;
    h6 {
      @include eyebrow;
      margin-bottom: 13px;
    }
    h2 {
      font-size: 45px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -0.03em;
      margin-bottom: 26px;
    }
    p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.reverse-text {
    .additional_content,
    .alter-content {
      h6,
      h2 {
        color: $white;
      }
    }
    .alter-cnt-row {
      h2 {
        color: $white;
      }
    }
  }
}
