@import "../../css/_module-imports";
section.u4m-blog-post-header {
  padding-top: 105px;
  padding-bottom: 60px;
  position: relative;
  .page-center {
    max-width: 860px;
    .date {
      @include eyebrow;
    }
    h1 {
      margin-bottom: 36px;
    }
    .post-meta {
      display: flex;
      align-items: center;
      .author-img {
        margin-right: 5px;
        img {
          width: 36px;
          height: 36px;
          border-radius: 100%;
          object-fit: cover;
        }
      }
      .author-name {
        a {
          color: $black2;
        }
      }
    }
  }
}
