@import "../../css/_module-imports";
section.u4m-blog-post-header {
  padding-top: 105px;
  padding-bottom: 60px;
  position: relative;
  .date {
    @include eyebrow;
  }
  h1 {
    margin-bottom: 36px;
  }
  .post-meta {
    display: flex;
    align-items: center;
    .author-img {
      margin-right: 5px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .author-name {
      a {
        color: $black2;
      }
    }
  }
}

section.u4m-blog-post {
  .blog-post-wrap {
    padding-bottom: 120px;
    .page-center {
      &::after,
      &::before {
        content: "";
        display: table;
      }
      &::after {
        clear: both;
      }
    }
    .blog-social-wrap {
      width: 100px;
      padding-right: 50px;
      position: sticky;
      top: 30px;
      float: left;
      @include tabletvert {
        position: static;
        width: 100%;
      }
      .social-share {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          margin-bottom: 5px;
          @include size16;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          @include tabletvert {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            li {
              margin: 0;
              margin-right: 10px;
            }
          }
          li {
            margin-bottom: 12px;
            a {
              background-color: $secondary-teal;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
    .blog-post-body {
      width: calc(100% - 100px);
      float: left;
      @include tabletvert {
        width: 100%;
      }
      .hs-featured-image-wrapper {
        margin-bottom: 60px;
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      blockquote {
        background-color: rgb(156 39 176 / 10%);
        border-radius: 8px;
        padding: 36px;
        margin: 48px 0;
        @include size24;
        color: $charcoal;
        font-style: italic;
        font-weight: normal;
        letter-spacing: normal;
        position: relative;
        max-width: 100%;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 18px;
          width: 4px;
          height: 100%;
          background-image: url('{{ get_asset_url("/Akoya/templates/images/blockquote-arrow.png") }}');
          top: 18px;
          width: 48px;
          background-repeat: no-repeat;
        }
        p {
          margin: 0;
          color: $charcoal;
          @include size24;
          font-weight: normal;
          letter-spacing: normal;
          max-width: 100%;
        }
      }
    }
    .topics {
      margin-top: 60px;
      .label {
        @include size16;
        font-weight: 700;
        display: inline-block;
        margin-right: 18px;
      }
      a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid $black;
        border-radius: 30px;
        line-height: 1;
        @include size14;
        color: $black;
        margin-right: 12px;
      }
    }
  }
}
