@import "../../css/_module-imports";

section.u4m-team-grid {
  .purlple-bg {
    background-color: $pricing_theme3;
  }
  position: relative;
  z-index: 9;
  &.reverse-text {
    .tabber_nav {
      .tab_nav_item {
        .tab_nav {
          color: $white;
        }
      }
    }
  }
  .tabber_nav {
    border-bottom: 2px solid $azure;
    display: flex;
    gap: 10px 23px;
    justify-content: center;
    margin-bottom: 96px;
    flex-wrap: wrap;
    .tab_nav_item {
      position: relative;
      &.active {
        .tab_nav {
          border-color: $purlple;
        }
      }
    }

    .tab_nav {
      border-bottom: 2px solid transparent;
      cursor: pointer;
      display: block;
      margin-bottom: -2px;
      padding: 0 31px 2px;
      position: relative;
      color: $darkblack;
      font-weight: 700;
    }
  }

  .tabber_pannel {
    .flex_row {
      margin: 0 -20px;
    }
    .member {
      display: none;
      width: 33.333%;
      padding: 0 24px;
      @include tabletvert {
        width: 100%;
        padding: 0 20px;
      }
      &.show {
        display: block;
      }
      .inner {
        background: $white;
        border-radius: 8px;
        border: 2px solid $silver;
        padding: 36px 24px;
        padding-top: 0;
        margin-bottom: 60px;
        .member-image {
          margin-top: -36px;
          margin-bottom: 24px;
          text-align: center;
          img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            object-fit: cover;
            text-align: center;
          }
        }
        .inner__inner {
          text-align: center;
          p {
            @include eyebrow;
          }
          a.view-bio {
            color: $black;
            font-weight: 700;
            line-height: 1.25;
            cursor: pointer;
            svg {
              vertical-align: middle;
              margin-left: 5px;
            }
          }
        }
      }
      .popup-content {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 9;
        background-color: $primary-teal;
        padding: 160px 0;
        height: 100%;
        overflow-y: auto;
        height: 100vh;
        @include tabletvert {
          padding: 100px 0;
        }
        .page-center {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          @include tabletvert {
            height: inherit;
          }
          .exit-wrap {
            position: absolute;
            top: -28px;
            right: 20px;
            .exit {
              border: 1px solid $white;
              border-radius: 100%;
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
          }
          .popup-content-inner {
            display: flex;
            flex-wrap: wrap;
            position: relative;
          }
          .member-image img {
            width: 220px;
            height: 220px;
            object-fit: cover;
            border-radius: 100%;
            margin: 44px;
          }

          .member-image {
            max-width: 310px;
            width: 310px;
            text-align: center;
            min-height: 310px;
            position: relative;
            @include tabletvert {
              width: 100%;
            }
            svg.circle1 {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
            svg.circle2 {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              padding: 22px;
            }
            @include phone {
              max-width: 260px;
              min-height: 260px;
              img {
                width: 180px;
                height: 180px;
                margin: 40px;
              }
            }
          }

          .content-col {
            width: calc(100% - 310px);
            padding-top: 44px;
            color: $white;
            padding-left: 72px;
            @include tabletvert {
              width: 100%;
              padding-left: 0px;
            }
            .member-title {
              @include size16;
              font-weight: 700;
            }
            h4 {
              color: $white;
              margin-bottom: 22px;
            }
            p {
              font-weight: 500;
            }
          }
        }
        .social-links {
          margin-top: 36px;
          display: flex;
          align-items: center;
          .social-item {
            margin-right: 15px;
          }
          svg {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            path {
              fill: $white;
            }
          }
        }
      }
      &.popup-active {
        .popup-content {
          display: block;
        }
      }
    }
  }
}
body.popup-activee {
  overflow: hidden;
}
