@import "../../css/_module-imports";

.u4m-split-form-wrapper {
  .u4m-splitFormWrap {
    padding-top: 112px;
    padding-bottom: 105px;
    overflow: visible;
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 60px;

    @include tablet {
      padding-bottom: 40px;
    }
  }
  .flex_row {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .intro_content {
    .intro_title {
      @include h1;
    }
  }

  .intro_desc:last-child {
    margin-bottom: 0;
  }

  .left_column {
    @include tabletMin {
      width: 47.7%;
    }
    &.no-form-column {
      width: 100%;
    }
  }

  .logo_wrap {
    @include tabletMin {
      position: absolute;
      top: -46px;
      left: 20px;
      z-index: 3;
    }
  }

  .top_content_column_inner {
    padding-top: 67px;
  }

  .intro_content {
    max-width: 100%;
    text-align: left;
    margin-bottom: 0;
    .intro_btn_wrap {
      justify-content: flex-start;
    }
  }

  .form_column {
    position: relative;
    @include tabletMin {
      width: 46.2%;
    }

    .form_column_inner {
      @include tabletMin {
        position: absolute;
        top: 0;
        left: 0;
      }

      form {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.150951);
      }
    }

    @include tablet {
      form {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
      }
    }
  }

  .splitFormbotom {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tabletMin {
      padding-top: 47px;
      padding-bottom: 90px;
    }
  }

  @include tablet {
    min-height: auto !important;
  }
}
