@import "../../css/_module-imports";

section.u4m-accordion {
  padding-top: 60px;
  padding-bottom: 60px;
  &.reverse-text {
    .accordions {
      .accorion-item {
        &.active {
          .accordion_title {
            h4 {
              color: $white;
            }
          }
        }
        .accordion_title {
          h4 {
            color: $white;
          }
          .accordion_icon {
            path {
              stroke: $white;
            }
          }
        }
      }
    }
  }
  .accordions {
    .accorion-item {
      margin-bottom: 24px;
      position: relative;
      padding: 20px 36px;
      padding-right: 75px;
      border: 2px solid $azure;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      &.active {
        padding-top: 36px;
        padding-bottom: 30px;
        .accordion_title {
          h4 {
            color: $black;
          }
          .accordion_icon {
            svg {
              transform: rotate(180deg);
            }
          }
        }
        background-color: rgba($purlple, 0.1);
      }
      .accordion_title {
        position: relative;
        cursor: pointer;
        h4 {
          margin-bottom: 0;
          color: rgba($black, 0.8);
        }
        .accordion_icon {
          position: absolute;
          right: -75px;
          height: 100%;
          top: 0;
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .accordion_content {
        display: none;
        padding-top: 25px;
      }
    }
  }
}
